<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>表格.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17AF326C1F30E30C00B93A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17AF32851F30E30C00B93A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17AF32901F30E30C00B93A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
