<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UiDemo01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17D7ED351F24F65500518768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D7ED4E1F24F65500518768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D7ED591F24F65600518768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
