<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageDisply.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17D6DA171F28EFF1007A4F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D6DA301F28EFF2007A4F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D6DA3B1F28EFF2007A4F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
