<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>五子棋.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17CFF7F91F38C0FC008C3B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CFF8121F38C0FC008C3B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CFF81D1F38C0FC008C3B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
