<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17209EAE1F2A4F0500742483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17209EC71F2A4F0500742483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17209ED21F2A4F0500742483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
